body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ecf56d;
    margin: 0;

    top: 500px;
    left: 400px;

}
img {
    float: center;
    border-radius: 50%;
}
.container {
    padding: 15px; 
    width: 100%;
    gap: 20px;
    position: absolute;
    top: 100px;
    left: 50px;
    margin: center;

}
.section {
    width: 30%; 
    background-color: #97ebf7;

    border: 3px solid black;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 40px;
    float: left;
    margin: 10px;
}
.section h1 {
    text-align: center;
    color:brown;
    margin-top: 0px;
}
.section p {
    
    text-align: center;
    color: black;
    line-height: 1.5;
    text-justify: auto;
}