body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 50px;
}
h1 {
    color: blue;
}
.message {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 15px solid black;
    display: inline-block;
}
.red { background-color: red; }
.orange { background-color: orange; }
.green { background-color: green; }